.actualNews {
  background-color: #ffffff;
  padding-top: 64px;

  &__container {
    padding: 59px 30px 131px;
    margin-top: 64px;
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  &__leftContainer {
    background-color: var(--color-primary-bg-main);
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    &_top {
      display: flex;
      gap: 30px;

      &_news {
        width: 100%;
        height: 141px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        background-size: 100% 100%;

        // background: #bf8154;
        /* or 154% */

        color: #ffffff;

        p {
          font-weight: 600;
          font-size: 10px;
          line-height: 15px;
        }
        span {
          font-weight: 300;
          font-size: 8px;
          line-height: 10px;
          text-transform: uppercase;
        }
      }
    }

    &_bottom {
      // width: 260px;
      width: 100%;
      height: 180px;
      position: relative;
      display: flex;
      align-items: flex-end;
      padding: 0 20px 20px;
      /* or 150% */

      text-transform: uppercase;

      color: #ffffff;
      background-size: 100% 100%;
      background-image: linear-gradient(
          0deg,
          rgba(37, 42, 70, 0.35),
          rgba(37, 42, 70, 0.35)
        ),
        url("../../assets/bg/bg1.png");

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
      }
      span {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  &__rightContainer {
    flex: 1;
    position: relative;
    display: none;
    align-items: flex-end;
    padding: 0 20px 20px;
    /* or 150% */

    text-transform: uppercase;

    color: #ffffff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // background-image: linear-gradient(
    //     0deg,
    //     rgba(37, 42, 70, 0.35),
    //     rgba(37, 42, 70, 0.35)
    //   ),
    //   url("../../assets/bg/bg1.png");

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
    span {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }
}

// @media screen and (min-width: 1000px) {
//   .actualNews__leftContainer_top_news {
//     width: 220px;
//     height: 202px;
//     padding: 32px;
//     padding-bottom: 24px;
//     p {
//       font-weight: 500;
//       font-size: 18px;
//       line-height: 22px;
//     }
//     span {
//       font-weight: 300;
//       font-size: 12px;
//       line-height: 15px;
//     }
//   }
// }

@media screen and (min-width: 820px) {
  .actualNews__rightContainer {
    display: flex;
  }
  .actualNews {
    &__container {
      padding: 59px 85px 131px;
    }
  }
  .actualNews__container:nth-child(1) {
    display: none;
  }
  .actualNews__leftContainer_top_news {
    width: 180px;
    height: 141px;
  }
  .actualNews__leftContainer_bottom {
    width: 400px;
    height: 160px;
  }
}

@media screen and (min-width: 1250px) {
  .actualNews {
    &__container {
      padding: 59px 135px 131px;
    }
  }

  .actualNews__leftContainer_top_news {
    width: 270px;
    height: 202px;
    padding: 32px;
  }

  .actualNews__leftContainer_bottom {
    width: 570px;
    height: 225px;
  }
}
