.moreNews {
  margin-top: 120px;
  margin-bottom: 125px;

  h4 {
    display: none;
  }
  // padding: 0 30px;
  &_card {
    display: flex;
    flex-direction: column;
    gap: 27.82px;
    padding: 30px;
    width: 100%;
    // margin-left: auto;
    // margin-right: auto;
    // width: min-content;
    img {
      width: 100%;
      height: 287px;
    }
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: var(--color-text-heading);
    }
    a {
      display: flex;
      align-items: center;
      img {
        width: 9.32px;
        height: 11.25px;
        margin-left: 13.25px;
      }
    }
  }
}

@media screen and (min-width: 820px) {
}

@media screen and (min-width: 1200px) {
  .arrows,
  .page {
    display: none;
  }
  .moreNews {
    padding: 0 135px;
  }
  .moreNews {
    &_card {
      padding: 0;
    }
  }

  .moreNews {
    h4 {
      display: block;
      font-weight: 400;
      font-size: 22px;
      line-height: 35px;
      padding: 0 30px;
      /* identical to box height, or 159% */

      text-transform: uppercase;

      /* text headlng */

      color: #524b44;
    }
  }

  .moreNews {
    margin-top: 120px;
    margin-bottom: 125px;
    // padding: 0 30px;
    &_card {
      display: flex;
      flex-direction: column;
      gap: 27.82px;
      padding: 30px;
      width: 100%;
      // margin-left: auto;
      // margin-right: auto;
      // width: min-content;
      img {
        width: 370px;
        height: 360px;
      }

      p {
        max-width: 214px;
      }

      &_vertical {
        img {
          width: 315px;
          height: 165px;
        }
      }
    }
  }
}
