.BlockOneText {
  display: flex;
  gap: 260px;
  margin-top: 271px;
  justify-content: flex-end;
  position: relative;
  margin-right: 235px;
  padding-bottom: 170px;
  &_card__first {
    position: absolute;
    left: 0;
    top: -98px;
    max-width: 340px;
  }
  span {
    color: var(--color-primary-btn-outline) !important;
  }
  h2 {
    color: var(--color-text-heading);
    line-height: 50px;
  }
  p {
    font-family: var(--font-main-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width: 340px;
    margin-top: 54px;
    /* or 143% */

    /* body text */

    color: var(--color-text-body);
  }
}

@media screen and (max-width: 1125px) {
  .BlockOneText {
    margin-right: 90px;
  }
}

@media screen and (max-width: 900px) {
  .BlockOneText {
    display: flex;
    gap: 193px;
    margin-top: 109px;
    position: relative;
    flex-direction: column;
    margin-right: 0;
    padding-bottom: 108px;
    // margin-right: 235px;
    &_card__first {
      position: static;
    }
  }
}
