.advantages {
  background: linear-gradient(-90deg, #fff 55.9%, rgba(0, 0, 0, 0) 30%),
    var(--color-primary-bg-main);
  // height: 805px;
  // display: flex;
  // flex-wrap: wrap;
  // gap: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;

  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 270px);
}

.advantageItem {
  min-width: 270px;
  height: 100%;
  min-height: 370px;
  // padding: 59.57px 46px 55px 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding: 51px 33px 50px 33px;
  gap: 20px;
  img {
    // width: 50px;
    // height: 40px;
  }
  h6 {
    color: var(--color-text-body);
  }
  p {
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
}

.white_bg {
  background-color: #fff;
}

.grey_bg {
  background-color: var(--color-primary-bg-main);
}

@media screen and (max-width: 1000px) {
  .advantages {
    grid-template-columns: repeat(auto-fill, 270px);
    // ma: 0 35px;
  }
  .advantageItem {
    width: 100%;
    // height: 290px;
  }
}
