.purchaseDesc {
  background: #404040;
  padding-left: calc(30px / 320px * 100%);
  padding-right: calc(30px / 320px * 100%);
  padding-top: 126px;
  padding-bottom: 161px;
  margin-top: 181px;
  //   &_content{

  //   }
}

.breadcumb__mainBtn {
  display: block;
  padding-top: 37px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 9px;
    li {
      padding: 7.5px 14.5px;
      text-transform: uppercase;
    }
  }
}

.roomInfoCard {
  margin-top: 48px;
  button {
    padding: 14.5px 10%;

    width: 100%;
    text-transform: uppercase;
    margin-top: 62px;
  }
}

.roomInfoCard_content {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  gap: 10px;
  padding-bottom: 62px;
  background-color: #fff;
  span {
    margin-top: 17px;
    margin-bottom: 30px;
  }
  //   p {
  //   }
}
.location {
  display: flex;
  flex-wrap: wrap;
  padding-top: 68px;
  padding-left: 60px;
  padding-right: 60px;
  gap: 52.64px;
}

.nearLocation_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;

  &__time {
    display: flex;
    align-items: flex-end;
    gap: 9.86px;
    margin-bottom: 23.84px;
    p {
      color: #bf8154;
    }
  }
  &__adress {
    p {
      font-size: 14px;
      margin-top: 0;
    }
    margin-bottom: 6.84px;
  }
  &__distance {
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 13.15px;
    hr {
      flex: 1;
      border: none;
      border-bottom: 1px dashed #727272;
    }
    p {
      margin-top: 0;
    }
    &_metric {
      display: flex;
    }
  }
}

.nearLocation {
  background-color: var(--color-primary-bg-main);
  padding-top: 82px;
  padding-bottom: 119.85px;
}

@media screen and (min-width: 650px) {
  .nearLocation {
    padding-top: 0;
  }
  .wrapper {
    padding-bottom: 188.73px;
  }

  // .nearLocation_item {
  //   width: 25%;
  //   flex-wrap: wrap;
  // }

  .advantages_bg {
    background: var(--color-primary-bg-main);
  }
  .breadcumb__mainBtn {
    background-color: #f8f8f8;

    ul {
      margin-bottom: 67.47px;
      margin-top: 120.53px;
      display: flex;
      gap: 50px;
      align-items: flex-end;
      justify-content: flex-start;
      li {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border: none !important;
        background-color: unset;

        /* body text */

        color: #727272;
      }
    }
    &_un_active {
    }
    &_active {
      color: #bc6d41 !important;
      display: flex;
      align-items: center;

      &:after {
        content: "";
        margin-left: 9px;
        width: 4px;
        height: 4px;
        background-color: #bf8154;
      }
    }
  }
  .roomInfoCard {
    display: flex;
    gap: 30px;
  }
  .roomInfoCard {
    margin-top: 0;
    margin-bottom: 48px;
    button {
      padding: 14.5px 24.58px;
      width: auto;
      margin-top: 46.92px;
    }
  }
  .roomInfoCard_wrapper {
    min-height: 454px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #fff;
    img {
      width: 397.13px;
      height: 322px;
    }
  }
  .roomInfoCard_content {
    width: 70%;
    span {
      margin-top: 0;
      margin-bottom: 0;
    }

    &_area {
      margin-bottom: 35.16px;
    }

    &_price {
      display: flex;
      align-items: center;
      gap: 18.6px;
      p {
        font-size: 24px;
      }
    }
  }
}
