.virtualTour {
  background-color: var(--color-primary-bg-dark);

  padding-bottom: 164px;
  padding-top: 149px;
  margin-top: 147px;
}

.tourViewWrapper {
  margin-top: 105px;
  padding-left: 165px;
  padding-right: 165px;
  display: flex;
  gap: 70px;
  align-items: center;
  flex-direction: column-reverse;
}
.tour3dView_details_wrapper {
  margin-top: 172px;
  // margin-bottom: 205px;
}

.tour3dView {
  // background-image: url("/assets/img/3dtour.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // width: 900px;
  width: 100%;
  height: 600px;
  iframe {
    height: inherit;
  }
  &_details {
    width: 100%;
    height: 614px;
  }
  &_options {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    padding: 0 30px;

    h6 {
      color: #cdcdcd;
    }

    h6:hover {
      color: #fff;
    }
    &_active {
      color: #fff !important;
    }
  }
}

@media screen and (max-width: 1000px) {
  .tourViewWrapper {
    padding-left: 85px;
    padding-right: 85px;
    gap: 5%;
  }
}

@media screen and (max-width: 850px) {
  .tourViewWrapper {
    padding-left: 0;
    padding-right: 0;
    gap: 5%;
    flex-direction: column-reverse;
  }
  .virtualTour {
    padding-bottom: 0;
    padding-top: 84px;
  }
  .tour3dView_details_wrapper {
    margin-top: 58px;
    // margin-bottom: 205px;
  }

  .virtualTour {
    background-color: var(--color-primary-bg-dark);

    padding-bottom: 164px;
    padding-top: 149px;
    margin-top: 54px;
  }

  .tour3dView {
    width: 100%;
    height: 435px;
    padding-bottom: 30px;
    &_options {
      display: flex;
      flex-direction: row;
      gap: 24px;
      margin-bottom: 34px;
    }
  }
}
