// .buildComplexSlider .swiper-slide-active .buildComplexSlider_card {
//   width: 601px;
//   height: 635px;
//   transition: 0.8s;
//   margin-left: auto;
// }
.buildComplexSlider {
  .swiper-wrapper {
    align-items: center;
  }
}

.buildComplexSlider_card img {
  transition: 0.8s;
  width: 601px;
  height: 635px;
  max-height: 100%;
  @media screen and (max-width: 1185px) {
    width: 505px;
    height: 528px;
  }
  @media screen and (max-width: 950px) {
    width: 100%;
    height: 497px;
  }
}

.buildComplexSlider .swiper-slide-next .buildComplexSlider_card img {
  max-height: calc(500px / 601px * 100%);
  transition: 0.8s;
  @media screen and (max-width: 1185px) {
    width: 315px;
    max-height: 417px;
  }
}

.buildComplexSlider .swiper-slide-next {
  max-height: calc(500px / 601px * 100%);
  transition: 0.8s;
  @media screen and (max-width: 1185px) {
    width: 315px;
    max-height: 417px;
  }
}

// .buildComplexSlider .swiper-slide {
//   height: 635px;
//   @media screen and (max-width: 1185px) {
//     height: 417px;
//   }
// }

// .buildComplexSlider .swiper-slide-next .buildComplexSlider_card img:hover {
//   max-height: 100%;
// }

.buildComplexSlider .swiper {
  margin: 0;
  width: calc((601px + 69px + 480px) / 1440px * 100%);
  @media screen and (max-width: 600px) {
    width: 100%;
  }
  // margin-left: calc(435px / 1440px * 100%);
}

.buildComplexSlider .swiper-slide-next .buildComplexSlider_card {
  width: 480px;
  height: 100%;

  @media screen and (max-width: 1185px) {
    width: 315px;
    height: 417px;
  }

  display: flex;
  transition: 0.8s;
  align-items: center;
}

.blockOneSlider .swiper-slide-active .blockOneSlider_item {
  max-height: calc(279px / 443px * 100%);
}

.blockOneSlider .swiper-slide-active {
  // max-height: calc(279px / 443px * 100%);
  @media screen and (max-width: 1185px) {
    width: 505px;
    height: 528px;
  }
}
.blockOneSlider .swiper-slide-next .blockOneSlider_item {
  max-height: calc(279px / 366px * 100%);
}
.blockOneSlider .swiper-slide-prev .blockOneSlider_item {
  // max-height: 0%;
  opacity: 0;
}

.purchaseCard_wrapper .swiper-slide {
  width: fit-content;
  transition: 0.5s;
}

.purchaseCard_wrapper .swiper-slide-prev {
  opacity: 0;
}

.overseaBlock_slider .swiper-wrapper {
  align-items: center;
}

// .overseaBlock_slider .swiper-slide-active {
//   height: 635px;
//   transition: 0.5s;
//   img {
//     max-height: 500px;
//   }
// }

.overseaBlock_slider .swiper-slide-next {
  max-height: 500px;
  transition: 0.5s;
  img {
    max-height: 500px;
    transition: 0.5s;
  }
}

.overseaBlock_slider .swiper-slide-prev {
  opacity: 0;
  transition: 0.5s;
}

.overseaSlider_Item_current_img_more {
  display: none;
}
.overseaMain_slider {
  margin-top: 25px;
  .swiper-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    // padding: 26.09px;
  }
  .swiper-slide {
    background-color: #f0f0f0;
    width: 250px;
    height: 422px;

    @media screen and (max-width: 1000px) {
      width: 219.3px;
      height: 370.18px;
    }

    @media screen and (max-width: 734px) {
      width: 219px;
      height: 370px;
    }

    &-active {
      width: 540px;
      height: 582px;
      position: relative;
      .overseaSlider_Item_current_img_more {
        display: flex;
      }
      &:after {
        content: "";
        z-index: -1;
        position: absolute;
        background-color: #cacfd9;
        width: 573px;
        height: 422px;
        left: -15px;
        top: 50%;
        /* bottom: 0; */
        transform: translateY(-50%);
      }
      @media screen and (max-width: 1000px) {
        width: 474px;
        height: 511px;
        &:after {
          width: 510px;
          height: 370px;
        }
      }

      @media screen and (max-width: 734px) {
        width: 219px;
        height: 370px;
        margin: calc(26.09px / 2) 0;

        &:after {
          width: 145px;
          height: 420px;
        }
      }
    }
  }
}

.overseaMain_slider_drak {
  .swiper-slide-active {
    &:after {
      content: "";
      z-index: -1;
      position: absolute;
      background-color: #293f8c;
      width: 573px;
      height: 422px;
      left: -15px;
      top: 50%;
      /* bottom: 0; */
      transform: translateY(-50%);
    }
    // @media screen and (min-width: 768px) {
    //   width: 500px;
    //   height: 250px;
    // }
  }
}

.header_swiper {
  .swiper-slide {
    // width: auto;
  }
}

.home_gallery {
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    max-width: 637px;
    max-height: 625px;
    transition: 0.5s;

    @media screen and (max-width: 1105px) {
      width: 481px;
      height: 490px;
    }

    @media screen and (max-width: 990px) {
      max-width: unset;
      max-height: unset;
      height: auto;
      width: auto;
    }

    &-next {
      // max-width: 0px;
      opacity: 0.1;
    }

    &-prev {
      max-width: 400px;
      max-height: 430px;
      img {
        height: 100%;
        width: 100%;
        transition: 0.5s;
      }

      @media screen and (max-width: 990px) {
        max-width: unset;
        max-height: unset;
        height: auto;
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 1185px) {
  .strategy_slider {
    // .swiper-wrapper {
    //   align-items: center;
    // }
    .swiper-slide {
      transition: 0.5s;
      &-active {
        max-width: 465px;
        max-height: 490px;
      }
      &-next {
        // max-width: 0px;
        opacity: 0;
      }

      &-prev {
        // opacity: 0.5;
        max-height: 366px;
        min-width: 270px;
        // max-width: 400px;
        // max-height: 430px;
        .slider_item_strategy {
          max-height: 366px;
          min-width: 270px;
        }
      }
    }
  }
}
