.gallery {
  margin-top: 396px;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  position: relative;
  &_active {
    color: #bf8154 !important;
  }
  &_page {
    display: flex;
    flex-direction: column;
    gap: 55px;
    align-items: center;
  }
  &_text {
    width: 400px;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 98px;
    background: #ffffff;

    h6 {
      color: var(--color-text-body);
      font-weight: 400;
    }
    h6:hover {
      color: #bf8754;
    }
  }
}

.gallery_arrow_text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin-right: 135px;
}

.gallery_arrows {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  padding-right: 60px;
}

.gallery_text_container {
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.slider_utils {
  position: absolute;
  top: -50px;
}
.arrows {
  position: absolute;
  bottom: -40.5rem;
  right: 73px;
}
.page {
  position: absolute;
  left: -70rem;
  bottom: -105px;

  @media screen and (min-width: 900px) {
    left: -40rem;
    bottom: 0;
  }

  @media screen and (min-width: 1085px) {
    left: -50rem;
    bottom: 0;
  }

  @media screen and (min-width: 1335px) {
    left: -60rem;
    bottom: 0;
  }
  @media screen and (min-width: 1440px) {
    left: -70rem;
    bottom: 0;
  }
  @media screen and (min-width: 1607px) {
    left: -80rem;
    bottom: 0;
  }
}
.homeGallery {
  img {
  }
}

@media screen and (max-width: 1105px) {
  .gallery_arrow_text_wrapper {
    height: 100%;
  }
  .gallery_text {
    width: 320px;
    padding-top: 76px;
    height: 416px;
    padding-bottom: 140px;
  }

  .gallery_text_container {
    margin-top: 56px;
  }
  .arrows {
    right: 73px;
  }
}

@media screen and (max-width: 990px) {
  .slider_utils {
    position: static;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
  }
  .gallery {
    margin-top: 107px;
    display: block;
  }

  .homeGallery img {
    width: 100%;
    height: auto;
  }

  .arrows {
    position: static;
  }
  .page {
    position: static;
  }
  .gallery_arrow_text_wrapper {
    align-items: center;

    margin-right: 0;
  }

  .gallery_text {
    background-color: unset;
    height: auto;
    padding-bottom: 43px;
    padding-top: 0;
    &_container {
      flex-direction: row;
      flex-wrap: wrap;
      h6 {
        width: max-content;
        background-color: transparent;
        border: 1px solid var(--color-primary-btn-outline);
        color: var(--color-primary-btn-outline);
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding: 7.5px 15px;
        &:hover {
          border: 0;
          background-color: var(--color-primary-btn-outline);
          color: #fff !important;
        }
      }
    }
  }
  .gallery_active {
    border: 0;
    // background-color: var(--color-primary-btn-outline);
    color: #fff !important;
    background-color: var(--color-primary-btn-outline) !important;
  }
}

@media screen and (max-width: 500px) {
  .homeGallery img {
    // width: 321px;
    height: 276px;
  }
}
